/* Bootstrap Styling */

body {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	background-color: #e3dbdb;
}

.pokemon-list .list-group-item {
	background-color: transparent;
	border: none;
	flex-direction: column;
}

/* Custom styling for button */
.btn-dark {
	background: #a63446;
	border-color: #a63446;
	color: #ddd;
	font-weight: 700;
	font-family: 'Space Mono', monospace;
	border: none;
	width: 100%;
	transition: all 300ms;
}

.btn-dark:hover {
	background-color: #5fbff9;
	border: none;
}
