* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0e1111;
	font-family: 'Space Mono', monospace;
	justify-content: center;
	padding: 20px;
	line-height: 35px;
}

h1 {
	color: #ffc75f;
	text-align: center;
}

/* Styiling for the Pokemon List */
.pokemon-list {
	list-style-type: none;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	padding: 10px;
}

li {
	margin: 10px;
}

.pokemon-button {
	background-color: #1f3c88;
	border: 2px solid #f05454;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 3px 2px;
	cursor: pointer;
	width: 150px;
	color: #ddd;
}

/* Styling for the Pokemon modal */
#modal-container {
	position: fixed;
	padding: 20px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
