* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #0e1111;
	color: #eee;
	font-family: 'Space Mono', monospace;
	justify-content: center;
	padding: 20px;
	line-height: 35px;
}

h1 {
	color: #ffc75f;
}

.pokemon-list {
	text-decoration: none;
}

.pokemon-button {
	background-color: #dddddd;
	border: 2px solid #f05454;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 3px 2px;
	cursor: pointer;
}
